/.idea
/gcal-leave-scraper.iml
target
node_modules
npm-shrinkwrap.json
public

# Logs
logs
*.log
*~

# Runtime data
pids
*.pid
dist/

# Directory for instrumented libs
lib-cov

# Google Client Certificate
client_secret.json
config/local.coffee

# Created by .ignore support plugin (hsz.mobi)
